.foto{
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    cursor: pointer; 
    border-radius: 5px 5px 0px 0px; 
    &:hover{
        background-color: rgba(126, 126, 126, 0.267);
    }
    .addFoto{
        position: absolute;
    }
    .svg{
        fill:  #ddd
    }
}