.tablePersonalArea{
    padding: 50px 20px 50px 20px;
    background-color: #fff; 
    border-radius: 5px;
    max-height: 650px;
    overflow-y: auto;
    table{ 
        border-collapse: separate; 
        border: none;
        td{
            text-align: center;
            vertical-align:middle;
        }
        thead{
            td{
                background-color: #fff;
                font-size: 20px;
                padding: 10px;
                position: sticky;
                position: -webkit-sticky;
                top: 0; 
                background-color: #fff; 
                cursor: default; 
            }
        } 
    }
    &::-webkit-scrollbar-thumb
    {
        border-radius: 5px;
        background-color: rgb(109, 103, 103);
    }
    &::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    } 
}

@media screen and (max-height: 600px){
    .tablePersonalArea{
        max-height: 450px;
    }
}

.noneData{  
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(231, 169, 53, 0.726);
    p{
        color: rgb(0, 0, 0);
        font-size: 17px;
        margin-bottom: 0px;
    } 
}