.tableGlobal{
    max-height: 650px;
    overflow-y: auto;
    td{  
        padding: 10px;
        font-size: 20px;
        text-align: center;
        vertical-align:middle;
        a{
            color: black;
            &:hover{
                color: red;
                text-decoration: none;
            }
        }
    }
    thead{ 
        td{   
            font-weight: 500;
            font-size: 25px;
            height: 75px; 
            font-family: 'Roboto', sans-serif; 
            position: sticky; 
            svg{
                cursor: pointer;
                color: #ddd;
                transition: all 0.3s ease;
                &:hover{
                    color: #d3531a;
                }
            }
        }
    }
    tbody{ 
        tr{
            td:last-child{ 
                svg:last-child{ 
                    margin-left: 20px;
                }
            } 
            .act{
                svg{
                    color: rgb(102, 102, 102);
                    transition: all 0.3s ease;
                    cursor: pointer;

                    &:hover{
                        color: #d3531a;
                    }
                }
            }  
        }
    }
}
.searchBLeft{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .inputGroup{
        width: 80%;
    }
}