.tableEmployees{
    margin-top: 20px;
    border: 1px solid;
    width: 100%; 
    td{  
        padding: 10px;
        border: 1px solid;
        text-align: center;
        font-size: 20px;
        a{
            color: black;
            &:hover{
                color: red;
                text-decoration: none;
            }
        }
    }
    thead{ 
        td{ 
            font-weight: 500;
            font-size: 25px;
            height: 75px;
            font-family: 'Roboto', sans-serif;
            svg{
                cursor: pointer;
                color: #ddd;
                &:hover{
                    color: #d3531a;
                }
            }
        }
    }
    tbody{
        tr{
            td:last-child{ 
                svg:last-child{ 
                    margin-left: 20px;
                }
            }
        }
    }
}
.searchBLeft{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .inputGroup{
        width: 80%;
    }
}