.modal-body{
    max-height: 650px;
    overflow: auto;
    &::-webkit-scrollbar-thumb
    {
        border-radius: 5px;
        background-color: rgb(109, 103, 103);
    }
    &::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }
}

.statusBlock{
    display: flex;
    justify-content: center;
    padding: 50px;
    .spiner{
        width: 10em;
        height: 10em;
        color: #d3531a;
    }
    svg{ 
        font-size: 135px;
    }
}