.personalAreaPositions{
    nav{
        a{
            color: black; 
            font-size: 22px;
            font-weight: normal;
            color: rgb(85, 84, 84);
        }
        .active{
            color: #d3531a !important;
        }
    } 
}