.forms{
    label{
        display: flex;
        justify-content: flex-end; 
        margin-bottom: 0px;
    }
    .inputError{
        border: 1px solid red;
    }
    .labelCenter{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    h5{
        font-family: 'Roboto', sans-serif; 
    }
}

.statusBlock{
    display: flex;
    justify-content: center;
    padding: 50px;
    .spiner{
        width: 10em;
        height: 10em;
        color: #d3531a;
    }
    svg{
        color: green;
        font-size: 135px;
    }
}

